.topbar {
    background-color: #f0f0f0;
    height:100px;
}
.midbar {
    background-color:white;
    height:60px;
}
.contentbar {
    background-color: #f0f0f0;
}
.logo {
    height: 105px;
    width: 105px;
    z-index: 1000;
    position: relative;
    margin-top: -20px;
}
.row {
    background: #f0f0f0;
    color: black;
}
.nav-link {
    color: black;
}
.badge-secondary {
    height: 300px;
    width: 300px;
    border:20px solid white;
    margin-left: 10px;
    font-size:48px;
}

.badge-design {
    background: #E6563B;
}

.badge-develop {
    background: #EB9D3A;
}

.badge-support {
    background:#7cb06c;
}
.badge-host {
    background:#00aba9;
}

.apple-ipad {
    border: 15px solid #e6e6e6;
    border-radius: 10px;
}
.badge-small {
    height: 18px;
    width: 18px;
    margin: 5px;
}