.topbar {
    background-color: #f0f0f0;
    height:100px;
}
.midbar {
    background-color:white;
    height:60px;
}
.contentbar {
    background-color: #f0f0f0;
}
.logo {
    height: 105px;
    width: 105px;
    z-index: 1000;
    position: relative;
    margin-top: -20px;
}
.row {
    background: #f0f0f0;
    color: black;
}
.nav-link {
    color: black;
}